body {
    margin: 0;
    background-color: #000000;
    color: white;
    display: flex;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

#hero {
    background-color: #ECFDF5;
    padding: 2rem;
    width: 75%;
    /* height: 60vh; */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    color: #000000;
    padding-top: 40px;
    padding-bottom: 0;
    margin: 0;
    font-size: 4em;
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    
}

p {
   color: #9CA3AF; 
   padding-top: 1em;
   margin: 0;

}
span {
    color: #10B981;
}

button {
    background-color: #10B981;
    border: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    color: white;
    padding: 8px 12px;
    font-size: 1em;
    margin-top: 2em;
    width: 30%;
}

#bottom {
    border-top: solid #9CA3AF 1px;
    margin-top: 30px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
    
}

.passwords {
    background-color: #1F2937;
    width: 30%;
    height: 3em;
    border-radius: 3px;
    font-size: 1em;
    text-align: center;
}

#firstPassword, #secondPassword {
    color: #10B981;
}

@media (min-width: 800px) {
    h1 {
        font-size: 8em;
    }

    p {
        font-size: 3em;
    }
    button {
        font-size: 2em;
        width: 20%;
    }
}

@media (max-width: 799px) {
    #hero {
        height: 60vh;
    }
}